google-api-python-client>=2.100.0
google-auth>=2.0.0
google-auth-httplib2>=0.2.0
google-auth-oauthlib>=1.2.0
# winrt - not a python package
pystray
pillow
winrt-runtime
winrt-Windows.Foundation
winrt-Windows.Foundation.Collections
winrt-Windows.UI.Notifications
winrt-Windows.UI.Notifications.Management
winrt-Windows.ApplicationModel

# winrt-Windows is above
tzdata

